[Desktop Entry]
Version=0.1
Type=Application
Name=iced Builder
Comment=UI builder for iced, built with iced.
TryExec=iced-builder
Exec=iced-builder %f
Terminal=false
MimeType=application/json;
Categories=GTK;GUIDesigner;Development;
Keywords=iced;GUI;builder;designer;
